


.sessions-container {
    display: flex;
    height: 100vh; 
    margin:0 auto;
    width: 100%;

    
}
.calendar-container{
    flex: 1.5 !important;
    flex-shrink: 0 !important;
    min-width: 50% !important;
    width: 50% !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 4rem;
    align-items: center;
    top: 0px;
    height: 90vh
}

.calendar-container button{
    background: #2c3e50;
    border-color: #2c3e50;
}

.calendar-container button:hover{
    background-color: #526477;
    border-color: #526477;
}

.info-container {
    flex: 1.5;
    margin: auto;
    margin-left: 0rem;

}

.info-container .card{
    /* margin-left: 1rem; */
    margin-right: auto;
    overflow-y: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 525px;
    background-color: #eeece8;

}
    


.fc {
    font-size: .65em !important;
    width: 75% !important; 
    margin: 0px !important; 
    height: 82%;
    border: solid #fcfbfb;
    background: #fcfbfb;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 4px;
}


.fc a{
    text-decoration: none;
    color:rgba(10, 9, 9, 0.657)
}

.fc-timegrid-slot {
    min-height: 50px !important; 
}



.fc-col-header {
    background-color: #F3F4F6;
    font-weight: bold;
}

.fc-event {
    border: black;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    line-height: 1;
    
}



:root {
    --fc-today-bg-color: aliceblue

    
}

