.sessions-container {
    display: flex;
    height: 100vh; 
    margin:30px;
    width: 100%;
    
}
.calendar-container{
    flex: 2 !important;
    flex-shrink: 0 !important;
    min-width: 50% !important;
    width: 50% !important;
    display: flex;
    flex-direction: column;

    align-items: center;
    top: 0px
}

.calendar-container button{
    background: #2c3e50;
    border-color: #2c3e50;
}

.calendar-container button:hover{
    background-color: #526477;
    border-color: #526477;
}

.info-container {
    flex: 1;
    margin-right: 50px;
    margin-top: 2rem;
}

.info-container .card{
    height: 400px;
    overflow-y: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 400px;
}
    


.fc {
    font-size: .65em !important;
    width: 75% !important; 
    margin: 0px !important; 
    height: 80%;
    border: solid white;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 4px;
}


.fc a{
    text-decoration: none;
    color:rgba(10, 9, 9, 0.657)
}



.fc-col-header {
    background-color: #F3F4F6;
    font-weight: bold;
}

.fc-event {
    border: black;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    
}

/* .fc-day-today {
    background-color: rgba(0, 122, 255, 0.1);
} */

:root {
    --fc-today-bg-color: aliceblue

    
}

