.card-container .card {
    height: 400px;
    overflow-y: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #eeece8;

}



.card button{

    background-color: #2c3e50;
    border-color: rgba(0, 0, 0, 0.175);

}

.card button:hover{
    background-color: #526477;
    border-color: rgba(0, 0, 0, 0.175)

}

