.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.form-container .card{
    background-color: #eeece8 ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 50px;
    width: 100%;
    text-align: center;
    max-width: 600px;
    
}

.radio-buttons {
    margin-top: 5px !important;
}



.radio-buttons > .form-check {
    margin-right: 0.5rem; 
    display: inline-flex; 
}

.form-submit-button{
    margin-top: 14px !important;
}

